body {
    font-family: Arial, sans-serif;
}

.quiz-container {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#options {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

#result-container {
    display: none;
}
